APP_SECRET=
APP_ENV=
DOCKERFILE=docker-compose.yml
APP_ALLOWED_HOSTS=127.0.0.1,localhost
SENDER_EMAIL=
SENDER_PASSWORD=

# DATABASE SETTINGS
# These are used by both Django and the PostgreSQL container
DB_HOST=db
DB_USER=inventory_user
DB_PASSWORD=inventory_pass
DB_NAME=inventory_db
DB_PORT=5432

# REDIS SETTINGS
REDIS_HOST=redis
REDIS_PORT=6379

# SUPERUSER SETTINGS
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=adminpass
DJANGO_SUPERUSER_EMAIL=admin@example.com

# CSRF SETTINGS
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
